In [53]:
from recipe_scrapers import scrape_me
from tests import ScraperTest
import pandas as pd
import requests
import regex as re

In [54]:
bc = pd.read_excel('../data/bettycrocker.xlsx')
ar = pd.read_excel('../data/allrecipes.xlsx')
ba = pd.read_excel('../data/bonappetit.xlsx')
f = pd.read_excel('../data/fooddotcom.xlsx')
sl = pd.read_excel('../data/southernliving.xlsx')
pw = pd.read_excel('../data/pioneerwoman.xlsx')

In [55]:
bc.describe(include='all')

,Unnamed: 0,titles,total_time,yields,ingredients,instructions,images,host,authors,cook_time,prep_time,cuisine,category,rating,reviews,nutrients
count,1320.000000,1320,1320,1320,1091,1091,1320,1320,1319,1320,1320,1320,1320,1320,1320,1320
unique,NaN,1089,112,19,1088,1086,1198,1,31,1,1,1,1,9,1,1033
top,NaN,None,None,6 servings,1 lb lean (at least 80%) ground beef***1 cup c...,"In 10-inch skillet, cook sausage, onion and ga...",None,bettycrocker.com,Betty Crocker Kitchens,None,None,None,None,None,None,{}
freq,NaN,229,229,338,2,2,111,1320,999,1320,1320,1320,1320,372,1320,229
mean,659.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,381.195488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,329.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,659.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,989.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1319.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
ar.describe(include='all')

,Unnamed: 0,titles,total_time,yields,ingredients,instructions,images,host,authors,cook_time,prep_time,cuisine,category,rating,reviews,nutrients
count,168.000000,168,168.000000,168,168,168,168,168,168,168.000000,168.000000,0.0,168,168.0,168,168
unique,NaN,164,NaN,11,164,164,164,1,131,NaN,NaN,NaN,62,77.0,1,163
top,NaN,Baked Corn Casserole,NaN,8 servings,1 teaspoon vegetable oil***½ cup chopped onion...,Preheat oven to 350 degrees F (175 degrees C)....,https://imagesvc.meredithcorp.io/v3/mm/image?u...,allrecipes.com,Allrecipes Member,NaN,NaN,NaN,Casseroles,4.0,None,{}
freq,NaN,2,NaN,45,2,2,2,168,25,NaN,NaN,NaN,12,14.0,168,2
mean,83.500000,NaN,74.488095,NaN,NaN,NaN,NaN,NaN,NaN,40.797619,14.940476,NaN,NaN,NaN,NaN,NaN
std,48.641546,NaN,95.139544,NaN,NaN,NaN,NaN,NaN,NaN,19.872817,8.494241,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,41.750000,NaN,45.000000,NaN,NaN,NaN,NaN,NaN,NaN,30.000000,10.000000,NaN,NaN,NaN,NaN,NaN
50%,83.500000,NaN,60.000000,NaN,NaN,NaN,NaN,NaN,NaN,45.000000,15.000000,NaN,NaN,NaN,NaN,NaN
75%,125.250000,NaN,75.000000,NaN,NaN,NaN,NaN,NaN,NaN,50.750000,20.000000,NaN,NaN,NaN,NaN,NaN
max,167.000000,NaN,570.000000,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,45.000000,NaN,NaN,NaN,NaN,NaN

In [57]:
ba.describe(include='all')

,Unnamed: 0,titles,total_time,yields,ingredients,instructions,images,host,authors,cook_time,prep_time,cuisine,category,rating,reviews,nutrients
count,193.000000,193,0.0,193,191,191,155,193,185,193,193,193,193,193,193,193
unique,NaN,183,NaN,13,183,183,146,1,102,1,1,1,1,22,1,1
top,NaN,Chicken Enchiladas,NaN,8 servings,"2 tablespoons olive oil***½ onion, halved***1 ...",Preheat oven to 425°. Drizzle olive oil over o...,https://assets.bonappetit.com/photos/57acd8a31...,bonappetit.com,Molly Stevens,None,None,None,None,None,None,{}
freq,NaN,2,NaN,59,2,2,2,193,8,193,193,193,193,42,193,193
mean,96.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,55.858452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,48.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,96.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,144.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,192.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
f.describe(include='all')

,Unnamed: 0,titles,total_time,yields,ingredients,instructions,images,host,authors,cook_time,prep_time,cuisine,category,rating,reviews,nutrients
count,415.000000,415,415,415,0.0,0.0,415,415,415,415,415,415,415,415.0,415,415
unique,NaN,403,1,1,NaN,NaN,415,1,247,1,1,1,1,6.0,1,409
top,NaN,Mashed Potato Casserole,None,None,NaN,NaN,"https://img.sndimg.com/food/image/upload/q_92,...",food.com,Kittencalrecipezazz,None,None,None,None,5.0,None,{}
freq,NaN,3,415,415,NaN,NaN,1,415,39,415,415,415,415,206.0,415,6
mean,207.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,119.944432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,103.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,207.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,310.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,414.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
sl.describe(include='all')

,Unnamed: 0,titles,total_time,yields,ingredients,instructions,images,host,authors,cook_time,prep_time,cuisine,category,rating,reviews
count,474.000000,474,474,474,207,474,474,474,474,474,474,474,474,474,474
unique,NaN,184,64,12,185,186,417,1,28,1,1,1,1,28,1
top,NaN,None,None,0 servings,1 tablespoon vegetable oil***8 ounces Canadian...,None,https://imagesvc.meredithcorp.io/v3/mm/image?q...,southernliving.com,None,None,None,None,None,None,None
freq,NaN,267,267,311,2,267,4,474,267,474,474,474,474,367,474
mean,236.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,136.976275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,118.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,236.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,354.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,473.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
pw.describe(include='all')

,Unnamed: 0,titles,total_time,yields,ingredients,instructions,images,host,authors,cook_time,prep_time,cuisine,category,rating,reviews,nutrients
count,57.000000,57,57,57,27,27,57,57,27,57,57,38,27,57,57,57
unique,NaN,28,18,8,27,27,57,1,9,14,11,3,19,7,1,1
top,NaN,None,None,0 servings,"2 c. cooked chicken***3 c. spaghetti, uncooked...",Cook 1 cut up fryer and pick out the meat to m...,https://hips.hearstapps.com/hmg-prod.s3.amazon...,thepioneerwoman.com,Ree Drummond,None,None,None,"Thanksgiving,main dish,side dish",None,None,{}
freq,NaN,30,30,30,1,1,1,57,15,30,30,30,4,41,57,57
mean,28.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,16.598193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,28.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,56.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
recipes = pd.DataFrame()
recipes['titles'] = pd.concat([bc['titles'], ar['titles'], ba['titles'], f['titles'], sl['titles'], pw['titles']])
recipes['rating'] = pd.concat([bc['rating'].astype('str'), ar['rating'].astype('str'), ba['rating'].astype('str'), f['rating'].astype('str'), sl['rating'].astype('str'), pw['rating'].astype('str')])
recipes['ingredients'] = pd.concat([bc['ingredients'], ar['ingredients'], ba['ingredients'], f['ingredients'], sl['ingredients'], pw['ingredients']])
recipes['instructions'] = pd.concat([bc['instructions'], ar['instructions'], ba['instructions'], f['instructions'], sl['instructions'], pw['instructions']])
recipes['total_time'] = pd.concat([bc['total_time'], ar['total_time'], ba['total_time'], f['total_time'], sl['total_time'], pw['total_time']])
recipes['host'] = pd.concat([bc['host'], ar['host'], ba['host'], f['host'], sl['host'], pw['host']])
#recipes['nutrients'] = pd.concat([bc['nutrients'], ar['nutrients'], ba['nutrients'], f['nutrients'], sl['nutrients'], pw['nutrients']])
recipes

,titles,rating,ingredients,instructions,total_time,host
0,Slow-Cooker Zucchini Casserole,4,7 cups sliced zucchini (6 small to medium zucc...,Grease inside of slow cooker with butter or co...,145,bettycrocker.com
1,Cowboy Casserole,4,1 lb lean (at least 80%) ground beef***1 can (...,"Heat oven to 425°F. In 10-inch skillet, cook b...",45,bettycrocker.com
2,Stuffed Pepper Casserole,4.5,1 lb ground beef (at least 90% lean)***2 cups ...,"In 5-quart Dutch oven, cook beef, bell peppers...",60,bettycrocker.com
3,Fiesta Taco Casserole,4,1 lb lean (at least 80%) ground beef***1 can (...,"Heat oven to 350°F. In 10-inch skillet, cook b...",45,bettycrocker.com
4,Nacho Chicken Casserole,4,2 cups diced cooked chicken***1/2 cup uncooked...,Heat oven to 350°F. Spray 2-quart casserole wi...,85,bettycrocker.com
...,...,...,...,...,...,...
52,BBQ Pulled Pork Pizza,None,"3 tbsp. Butter***1 Very Large Sweet Onion, Pee...",Preheat oven to 450ºF. Place an inverted rimme...,50,thepioneerwoman.com
53,Turkey and Biscuits Casserole with Lemon and Dill,None,FOR THE TURKEY CASSEROLE FILLING:***5 tbsp. Un...,For the turkey casserole filling:Heat a large ...,80,thepioneerwoman.com
54,None,None,NaN,NaN,None,thepioneerwoman.com
55,None,None,NaN,NaN,None,thepioneerwoman.com
56,None,None,NaN,NaN,None,thepioneerwoman.com

In [214]:
#The following look for meat or type of meat within the recipes
recipes['tuna'] = recipes['ingredients'].str.count(r'tuna|Tuna')
#no chicken broth here
recipes['chicken'] = recipes['ingredients'].str.count(r'chicken\s(?!broth|Broth)|Chicken\s(?!broth|Broth)')
recipes['crab'] = recipes['ingredients'].str.count(r'crab|Crab')
recipes['meat'] = recipes['ingredients'].str.count(r'fish|Fish|beef|Beef|chicken\s(?!broth|Broth)|Chicken\s(?!broth|Broth)|crab|Crab|pork|Pork|sausage|Sausage|ham|Ham|lobster|Lobster|tuna|Tuna|bacon|Bacon|steak|Steak|hot\sdog|Hot\sdog')
#Now we're looking for starch!
recipes['pasta'] = recipes['ingredients'].str.count(r'pasta\s(?!sauce|Sauce)|Pasta\s(?!sauce|Sauce)|penne|Penne|macaroni|Macaroni')
recipes['rice'] = recipes['ingredients'].str.count(r'rice|Rice')
recipes['bread_crumbs'] = recipes['ingredients'].str.count(r'bread\scrumb|Bread\scrumb|Bread\sCrumb')
#The following are looking for specific ingredients within the recipes, not necessarily meat
recipes['cheese'] = recipes['ingredients'].str.count(r'cheese|cheese|cheddar|Cheddar|parmesean|Parmesean')
#ok this next one is honestly so funny, it shows every time someone salts in the instructions. I love it.
recipes['salt'] = recipes['instructions'].str.count(r'salt|Salt')
recipes['temperature'] = recipes['instructions'].str.findall(r'\d{3}\s{0,1}.F|\d{3}\s{0,1}.C|\d{3}\sdegrees')
#Let's get some wild ones in here
recipes['microwave'] = recipes['instructions'].str.count(r'microwave|Microwave')
recipes['crockpot'] = recipes['instructions'].str.count(r'slow\scooker|Slow\scooker|Slow\sCooker')
recipes['ingredient_count'] = recipes['ingredients'].str.count(r'\*{3}')+1
#Baking dish size next, this one is going to be a doozie.
recipes['baking_dish'] = recipes['instructions'].str.find(r'baking\sdish|Baking\sdish')
recipes['dish_type'] = recipes['instructions'].str.findall(r'glass|Glass|ceramic|Ceramic|cast\siron|Cast\sIron|Cast\siron')

In [215]:
recipes = recipes.drop(recipes[recipes.titles == 'None'].index)

In [216]:
recipes.to_excel("../data/casseroles.xlsx")

In [217]:
recipes

,titles,rating,ingredients,instructions,total_time,host,tuna,chicken,salt,temperature,...,meat,cheese,pasta,rice,microwave,crockpot,ingredient_count,baking_dish,dish_type,bread_crumbs
0,Slow-Cooker Zucchini Casserole,4,7 cups sliced zucchini (6 small to medium zucc...,Grease inside of slow cooker with butter or co...,145,bettycrocker.com,0.0,0.0,1.0,[],...,0.0,2.0,0.0,0.0,1.0,3.0,9.0,-1.0,[],0.0
2,Stuffed Pepper Casserole,4.5,1 lb ground beef (at least 90% lean)***2 cups ...,"In 5-quart Dutch oven, cook beef, bell peppers...",60,bettycrocker.com,0.0,0.0,1.0,[],...,2.0,4.0,0.0,1.0,0.0,0.0,13.0,-1.0,[],0.0
4,Nacho Chicken Casserole,4,2 cups diced cooked chicken***1/2 cup uncooked...,Heat oven to 350°F. Spray 2-quart casserole wi...,85,bettycrocker.com,0.0,1.0,0.0,[350°F],...,1.0,2.0,0.0,1.0,0.0,0.0,9.0,-1.0,[],0.0
9,Taco Casserole,4.5,1 lb lean (at least 80%) ground beef***1 can (...,"Heat oven to 350°F. In 10-inch skillet, cook b...",45,bettycrocker.com,0.0,0.0,0.0,[350°F],...,1.0,2.0,0.0,0.0,0.0,0.0,9.0,-1.0,[],0.0
10,Tortilla Casserole,4.5,"1 pound lean ground beef***1 small onion, chop...",Heat oven to 350°F. Cook beef and onion in 10-...,45,bettycrocker.com,0.0,0.0,0.0,[350°F],...,2.0,3.0,1.0,0.0,0.0,0.0,8.0,-1.0,[],0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,Mashed Potato and Wild Rice Stuffed Mushrooms,None,1/2 c. Whole Wild Rice***12 Large Baby Portabe...,Preheat oven to 350°F.In a medium sauce pan ov...,95,thepioneerwoman.com,0.0,0.0,2.0,[350°F],...,0.0,1.0,0.0,1.0,0.0,0.0,12.0,-1.0,[],0.0
44,Thanksgiving Dinner: Lightened Up Sweet Potato...,None,4 lb. Sweet Potatoes Or Yams***2 tbsp. Unsalte...,Preheat oven to 350ºF. Pierce sweet potatoes o...,50,thepioneerwoman.com,0.0,0.0,1.0,[350ºF],...,0.0,0.0,0.0,0.0,1.0,0.0,10.0,-1.0,[],0.0
50,Edna Mae’s Escalloped Cabbage,None,"1 head Cabbage, Cut Into 6 Or 8 Wedges***2 tbs...",Preheat oven to 350 degrees. Butter a 9-inch-b...,45,thepioneerwoman.com,0.0,0.0,2.0,[350 degrees],...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,-1.0,[],0.0
52,BBQ Pulled Pork Pizza,None,"3 tbsp. Butter***1 Very Large Sweet Onion, Pee...",Preheat oven to 450ºF. Place an inverted rimme...,50,thepioneerwoman.com,0.0,0.0,1.0,[450ºF],...,1.0,0.0,0.0,0.0,0.0,0.0,10.0,-1.0,[],0.0
53,Turkey and Biscuits Casserole with Lemon and Dill,None,FOR THE TURKEY CASSEROLE FILLING:***5 tbsp. Un...,For the turkey casserole filling:Heat a large ...,80,thepioneerwoman.com,0.0,0.0,3.0,[375°F],...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,-1.0,[],0.0

In [218]:
recipes['temperature']

0                []
2                []
4           [350°F]
9           [350°F]
10          [350°F]
          ...
42          [350°F]
44          [350ºF]
50    [350 degrees]
52          [450ºF]
53          [375°F]
Name: temperature, Length: 1369, dtype: object